lec1.pdf
lec2.pdf
lec3.pdf
lec4.pdf
lec5.pdf
lec6.pdf
lec7.pdf
lec8.pdf
lec9.pdf
lecA.pdf
lecB.pdf
lecC.pdf
lecD.pdf
lecE.pdf
lecF.pdf
.*.swp
*.aux
*.nav
*.log
*.out
*.snm
*.toc
*.vrb
sigmoid.pdf
graph.pdf
